In [1]:
import pandas as pd

In [2]:
articles = pd.read_parquet("../data/02_intermediate/articles.parquet")
customers = pd.read_parquet("../data/02_intermediate/customers.parquet")
transactions_train = pd.read_parquet("../data/02_intermediate/transactions_train.parquet")

In [3]:
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [18]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int32
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int32(1), int64(10), object(14)
memory usage: 19.7+ MB

In [22]:
articles.select_dtypes(include="number").nunique()

article_id                    105542
product_code                   47224
product_type_no                  132
graphical_appearance_no           30
colour_group_code                 50
perceived_colour_value_id          8
perceived_colour_master_id        20
department_no                    299
index_group_no                     5
section_no                        57
garment_group_no                  21
dtype: int64

In [17]:
articles.select_dtypes(include="object").nunique()

prod_name                       45875
product_type_name                 131
product_group_name                 19
graphical_appearance_name          30
colour_group_name                  50
perceived_colour_value_name         8
perceived_colour_master_name       20
department_name                   250
index_code                         10
index_name                         10
index_group_name                    5
section_name                       56
garment_group_name                 21
detail_desc                     43404
dtype: int64

In [9]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,6883939031699146327,NaN,NaN,ACTIVE,NONE,49.0,17927155884337299712
1,11246327431398957306,NaN,NaN,ACTIVE,NONE,25.0,14425074807554715735
2,18439897732908966680,NaN,NaN,ACTIVE,NONE,24.0,652878820000628956
3,18352672461570950206,NaN,NaN,ACTIVE,NONE,54.0,6024397481425743469
4,18162778555210377306,1.0,1.0,ACTIVE,Regularly,52.0,7238475373795629853

In [20]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  uint64
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  uint64
dtypes: float64(3), object(2), uint64(2)
memory usage: 73.3+ MB

In [21]:
customers.select_dtypes(include="number").nunique()

customer_id    1371980
FN                   1
Active               1
age                 84
postal_code     352899
dtype: int64

In [19]:
customers.select_dtypes(include="object").nunique()

club_member_status        3
fashion_news_frequency    4
dtype: int64

In [10]:
transactions_train.head()

        t_dat           customer_id  article_id     price  sales_channel_id
0  2018-09-20  18439897732908966680   663713001  0.050831                 2
1  2018-09-20  18439897732908966680   541518023  0.030492                 2
2  2018-09-20  10112112306570742978   505221004  0.015237                 2
3  2018-09-20  10112112306570742978   685687003  0.016932                 2
4  2018-09-20  10112112306570742978   685687004  0.016932                 2

In [ ]:
transactions_train.groupby(["customer_id"])["article_id"].unique()

In [ ]:
len(transactions_train.t_dat.unique()) / 7

104.85714285714286